.profile__avatar {
    display: inline-block;
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
    border-radius: 50%;
}

@media screen and (max-width: 799px) {
    .profile__avatar {
        margin-bottom: 26px;
    }
}